<% @title = '使用说明' %>

<% content_for :breadcrumb do %>
<li class="active">使用说明</li>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
  $('li.home').addClass('active')
</script>
<% end %>

<article class="markdown-body entry-content" itemprop="mainContentOfPage">
  <h2>功能</h2>
  <h3>老师</h3>
  <ul class="task-list">
    <li>登录后台发布作业。</li>
  </ul>
  <h3>家长/学生</h3>
  <ul class="task-list">
    <li>查询当日作业。</li>
    <li>查询之前的作业。</li>
  </ul>
  <h2>特色</h2>
  <ul class="task-list">
    <li>支持PC、手机、平板下的作业发布和浏览。</li>
  </ul>
</article>
