<% @title = '发布作业_作业管理' %>

<% content_for :include do %>
  <link href="/kindeditor/default.css" rel="stylesheet" type="text/css" />
  <script src="/kindeditor/kindeditor-min.js" type="text/javascript"></script>
  <script src="/kindeditor/zh_CN.js" type="text/javascript"></script>
<% end %>

<% content_for :breadcrumb do %>
  <li><a href="/admin/messages">作业管理</a></li>
  <li class="active">发布作业</li>
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    $('li.messages').addClass('active')
  </script>
  <%= partial 'messages/kindeditor' %>
<% end %>

<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat('所有作业')), url(:messages, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat('发布作业')), url(:messages, :new) %></li>
</ul>
<div class="tabs-content">
  <% form_for :message, url(:messages, :create), :role => 'form' do |f| %>
    <%= partial 'messages/form', :locals => { :f => f } %>
 <% end %>
</div>

